* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}
p {
  font-size: 15px;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end global rules */

/* start of header */

header nav {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

header nav ul {
  display: flex;
}
header nav ul li {
  display: block;
  padding: 15px;
  color: var(--Dark-grayish-blue);
  font-size: 16px;
}

header nav ul li:hover {
  color: var(--Soft-orange);
  cursor: pointer;
}

@media (max-width: 768px) {
  header nav ul {
    display: none;
  }
}

/* end of header */

/* start of landing */

.landing .container {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "left left left left left right ";
  padding: 30px 20px;
}

.landing-img-1 {
  height: 320px;
}
.landing-img-2 {
  display: none;
}

.landing .container .big-col {
  grid-area: left;
}

.landing .container .big-col .text {
  display: flex;
}

.landing .container .big-col h1 {
  font-size: 50px;
  font-weight: 800;
  width: 300px;
  margin-right: 30px;
}

.landing .container .big-col p {
  width: 350px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: var(--Dark-grayish-blue);
}
.landing .container .big-col button {
  margin-top: 20px;
  padding: 12px;
  width: 170px;
  border: none;
  background-color: var(--Soft-red);
  color: white;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 2px;
}
.text-w{
  margin-top: 30px;
}
.landing .container .big-col button:hover {
  background-color: var(--Very-dark-blue);
}

.landing .container .tranding {
  grid-area: right;
  background-color: var(--Very-dark-blue);
  padding: 25px;
}
.landing .container .tranding hr {
  margin-bottom: 20px;
  margin-top: 10px;
  border-top: 2px solid black;
}
.landing .container .tranding h2 {
  color: var(--Soft-orange);
  font-size: 35px;
  margin-bottom: 20px;
}
.landing .container .tranding h3 {
  color: var(--Off-white);
  margin: 20px 0;
}
.landing .container .tranding h3:hover {
  color: var(--Soft-orange);
  cursor: pointer;
}
.landing .container .tranding p {
  color: var(--Grayish-blue);
  margin: 10px 0;
  line-height: 1.5;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .landing .container {
    display: flex;
    flex-direction: column;
  }
  .landing .container .big-col .text {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .landing-img-1 {
    display: none;
  }
  .landing-img-2 {
    display: block;

    height: 290px;
  }
  .landing .container .big-col p {
    width: auto;
  }
  .landing .container .big-col button {
    margin: 0;
    width: 170px;
    padding: 15px;
  }
}

/* end of landing */

/* start of grid holder */
.grid-holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding-top: 30px;
  padding-bottom: 30px;
}

.grid-holder .small-col {
  display: flex;
}
.grid-holder h2 {
  color: var(--Grayish-blue);
  margin-bottom: 10px;
  font-weight: 700;
}
.grid-holder span {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 19px;
}
.grid-holder span:hover {
  color: var(--Soft-orange);
  cursor: pointer;
}
.grid-holder p {
  line-height: 1.5;
  width: 85%;
  color: var(--Grayish-blue);
}
.grid-holder img {
  width: 100px;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .grid-holder .small-col {
    padding: 15px 0;
  }
  .grid-holder p {
    width: 100%;
  }
}
/* end of grid holder */
